.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/**/build/

.idea/
*.iws
*.iml
*.ipr
out/
!**/src/**/out/

.run/

.apt_generated
.classpath
.eclipse/
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/**/bin/

.vscode/

.DS_Store

run/
!**/src/**/run/
**/src/generated/**/.cache/
repo/
!**/src/**/repo/
